# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp


backend/bin/
application/bin/
application/build
util/bin
application/dist
application/lib
application/.polishSettings
application/tools
backend/dist/*
key.properties
glob:application/custom-devices.xml
cases/bin/
application/corpora/*
application/cover/*
application/cover/*
application/coverage/image/data/three-three_three.png
*/application/coverage/*
application/src/org/commcare/restore/CommCareOTARestoreController.java.orig
application/weblib*/*


# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
